# Prerequisites
*.d
solve.cpp
fox.cpp
/.cph

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# files to ignore
jsTest.js
tempCodeRunnerFile.cpp

#file pattern to ignore
*.ignore.*
*.ignr.*